/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 body {
  margin: 0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
 }
 h2 {
  margin: 0px;
  display: inline;
  font-family: helvetica;
  font-size: 1em;
 }
 #contact {
  margin-left: 10px;
 }
 #line {
  display: inline;
  background-color: white;
  width: 1px;
  height: 40px;
  position: absolute;
  top: 10px;
  margin-right: 20px;
 }
 #name {
  margin-right: 20px;
 }
 #team {
  margin-right: 10px;
 }
 #header_container {
  background-color: black;
  color: white;
  padding: 20px;
  padding-left: 50%;
 }
.thin {
  font-weight: 100;
}