<!DOCTYPE html>
%html
%head
  %title Elloperations
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
#header_container
  %h3#name ELL OPERATIONS
  %h3#team.thin THE TEAM
  #line
  %h3#contact.thin Contact Us
= yield